.App {
  max-width: 900px;
  margin: 0 auto;
  background-color: white;
  padding: 40px;
  h1 {
    text-align: center;
  }
  .delivery-container {
    margin: 30px 0;
  }
  .delivery-times-container {
    display: flex;
    flex-flow: wrap;
    margin-top: 30px;
  }
  .checkbox-home-delivery {
    vertical-align: top;
  }
  .label-home-delivery {
    margin-top: -2px;
    padding-left: 10px;
    width: 180px;
    display:inline-block
  }

  .validate-order {
    button {
      padding: 5px 10px;
      width: 200px;
    }
  }
}